<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Hospital page</title>
</head>
<body>
<h1>Zakład Fryzjerski</h1>

<div class="conatiner">
    <table border = "1">
        <thead>
        <tr>
            <td>Imie</td>
            <td>Nazwisko</td>
            <td>Staż pracy</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fryzjer: ${fryzjerzy}">
            <td th:text="${fryzjer.getImie()}">
            <td th:text="${fryzjer.getNazwisko()}">
            <td th:text="${fryzjer.getStaz_pracy()}">
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>