
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Hospital page</title>
</head>
<body>
<h1>Zakład Fryzjerski</h1>
<div class="container">
<div class="row">
    <div class="col-5">

    <h3>Pracownicy</h3>
    <table border = "1">
        <thead>
        <tr>
            <td>Imie</td>
            <td>Nazwisko</td>
            <td>Staż pracy</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fryzjer: ${fryzjerzy}">
            <td th:text="${fryzjer.getImie()}">
            <td th:text="${fryzjer.getNazwisko()}">
            <td th:text="${fryzjer.getStaz_pracy()}">
        </tr>
        </tbody>
    </table>
</div>
<div class="col-5">
    <form action="#" th:action="@{/grafik}"
          th:object="${grafikDlaFryzjera}" method="POST">

        <input type="text" th:field="*{imieFryzjera}" class = "form-control mb-4 col-4" placeholder="imie">
        <input type="text" th:field="*{nazwiskoFryzjera}" class = "form-control mb-4 col-4" placeholder="nazwisko">
        <input type="text" th:field="*{dzien}" class = "form-control mb-4 col-4" placeholder="dzien">


        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
</div>
</div>
</div>

</body>
</html>
