<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Hospital page</title>
</head>
<body>
<h1>Zakład Fryzjerski</h1>
<div class="container">
<div class="row">
    <div class="col-5">

    <h3>Pracownicy</h3>
    <table border = "1">
        <thead>
        <tr>
            <td>Imie</td>
            <td>Nazwisko</td>
            <td>Staż pracy</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fryzjer: ${fryzjerzy}">
            <td th:text="${fryzjer.getImie()}">
            <td th:text="${fryzjer.getNazwisko()}">
            <td th:text="${fryzjer.getStaz_pracy()}">
        </tr>
        </tbody>
    </table>
</div>
        <div class="col-5">
    <h3>GRAFIK</h3>

    <table border = "1">
        <thead>
        <tr>
            <td>Data</td>
            <td>Rodzaj usługi</td>
            <td>Fryzjer</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usluga: ${grafik}">
            <td th:text="${usluga.getData()}">
            <td th:text="${usluga.getRodzaj_uslugi()}">
            <td th:text="${usluga.getFryzjer().toString()}">
        </tr>
        </tbody>
    </table>
        </div>
</div>
</div>
</body>
</html>